/ga-frontend-web/nbproject/private/
/ga-frontend-web/build/
/ga-frontend-web/dist/
/ga-web-frontend/nbproject/private/
/web-ga-frontend/nbproject/private/
/web-ga-frontend/build/
/web-ga-frontend/dist/
/gaFrontenWeb/nbproject/private/
/gaFrontenWeb/build/
/gaFrontenWeb/dist/
/FrontendGA/nbproject/private/
/FrontendGA/build/
/FrontendGA/dist/
/GestionAcademica/nbproject/private/
/GestionAcademica/build/
/GestionAcademica/dist/